name: Run watir-rails CI

'on':
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.ruby-version == 'debug' }}
    strategy:
      matrix:
        rails-version: ['3.0', '3.1', '3.2', '4.0', '4.1', '4.2', '5.0', '5.1', '5.2', '6.0', '6.1']
        ruby-version: ['2.2', '2.3', '2.4', '2.5', '2.6', '2.7']
        include:
          # Only rails-6.1 supports ruby-3
          - { rails-version: '6.1', ruby-version: '3.0' }
          - { rails-version: '6.1', ruby-version: 'debug' }
        exclude:
          # rails-6.x requires ruby >= 2.5
          - { rails-version: '6.1', ruby-version: '2.4' }
          - { rails-version: '6.1', ruby-version: '2.3' }
          - { rails-version: '6.1', ruby-version: '2.2' }
          - { rails-version: '6.0', ruby-version: '2.4' }
          - { rails-version: '6.0', ruby-version: '2.3' }
          - { rails-version: '6.0', ruby-version: '2.2' }
          # rails-5.2 requires safe navigation (avaiable since ruby-2.3)
          - { rails-version: '5.2', ruby-version: '2.2' }
          # rails-4.x requires BigDecimal.new (dropped in ruby-2.7)
          - { rails-version: '4.2', ruby-version: '2.7' }
          - { rails-version: '4.1', ruby-version: '2.7' }
          - { rails-version: '4.0', ruby-version: '2.7' }
          # rails-4.[0-1] fails with https://github.com/rails/rails/pull/25161
          # on ruby >= 2.4
          - { rails-version: '4.1', ruby-version: '2.7' }
          - { rails-version: '4.1', ruby-version: '2.6' }
          - { rails-version: '4.1', ruby-version: '2.5' }
          - { rails-version: '4.1', ruby-version: '2.4' }
          - { rails-version: '4.0', ruby-version: '2.7' }
          - { rails-version: '4.0', ruby-version: '2.6' }
          - { rails-version: '4.0', ruby-version: '2.5' }
          - { rails-version: '4.0', ruby-version: '2.4' }
          # rails-3.2 requires BigDecimal.new (dropped in ruby-2.7)
          - { rails-version: '3.2', ruby-version: '2.7' }
          # rails-3.1 fails with `circular argument reference - now`
          # in `ActiveSupport::TimeZone` on >= 2.7
          - { rails-version: '3.1', ruby-version: '2.7' }
          # rails-3.0 requires BigDecimal.yaml_as (dropped in 2.5)
          - { rails-version: '3.0', ruby-version: '2.7' }
          - { rails-version: '3.0', ruby-version: '2.6' }
          - { rails-version: '3.0', ruby-version: '2.5' }
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails_${{ matrix.rails-version }}.gemfile

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          # rails < 5 doesn't support bundler-2
          bundler: 1
          bundler-cache: true

      - run: bundle exec rake

      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: './coverage/lcov.info'
          parallel: true
          flag-name: ruby-${{ matrix.ruby-version }}_rails-${{ matrix.rails-version }}

  coveralls:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
