name: Run watir-rails CI

'on':
  pull_request:
  push:
    branches:
      - master

jobs:
  test_rails_versions:
    name: Test ruby/rails version matrix
    runs-on: ubuntu-latest
    # ruby-3 it's not supported by selenium-webdriver yet
    # See https://github.com/SeleniumHQ/selenium/issues/9001
    continue-on-error: ${{ matrix.ruby-version == 'debug' || matrix.ruby-version == '3.0' }}
    strategy:
      matrix:
        rails-version: ['3.1', '3.2', '4.0', '4.1', '4.2', '5.0', '5.1', '5.2', '6.0', '6.1']
        ruby-version: ['2.2', '2.3', '2.4', '2.5', '2.6', '2.7']
        include:
          # Only rails-6.1 supports ruby-3
          - { rails-version: '6.1', ruby-version: '3.0' }
          - { rails-version: '6.1', ruby-version: 'debug' }
        exclude:
          # rails-6.x requires ruby >= 2.5
          - { rails-version: '6.1', ruby-version: '2.4' }
          - { rails-version: '6.1', ruby-version: '2.3' }
          - { rails-version: '6.1', ruby-version: '2.2' }
          - { rails-version: '6.0', ruby-version: '2.4' }
          - { rails-version: '6.0', ruby-version: '2.3' }
          - { rails-version: '6.0', ruby-version: '2.2' }
          # rails-5.2 requires safe navigation (avaiable since ruby-2.3)
          - { rails-version: '5.2', ruby-version: '2.2' }
          # rails-4.x requires BigDecimal.new (dropped in ruby-2.7)
          - { rails-version: '4.2', ruby-version: '2.7' }
          - { rails-version: '4.1', ruby-version: '2.7' }
          - { rails-version: '4.0', ruby-version: '2.7' }
          # rails-4.[0-1] fails with https://github.com/rails/rails/pull/25161
          # on ruby >= 2.4
          - { rails-version: '4.1', ruby-version: '2.7' }
          - { rails-version: '4.1', ruby-version: '2.6' }
          - { rails-version: '4.1', ruby-version: '2.5' }
          - { rails-version: '4.1', ruby-version: '2.4' }
          - { rails-version: '4.0', ruby-version: '2.7' }
          - { rails-version: '4.0', ruby-version: '2.6' }
          - { rails-version: '4.0', ruby-version: '2.5' }
          - { rails-version: '4.0', ruby-version: '2.4' }
          # rails-3.2 requires BigDecimal.new (dropped in ruby-2.7)
          - { rails-version: '3.2', ruby-version: '2.7' }
          # rails-3.1 fails with `circular argument reference - now`
          # in `ActiveSupport::TimeZone` on >= 2.7
          - { rails-version: '3.1', ruby-version: '2.7' }
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails_${{ matrix.rails-version }}.gemfile

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          # rails < 5 doesn't support bundler-2
          bundler: 1
          bundler-cache: true

      - run: bundle exec rake

      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: './coverage/lcov.info'
          parallel: true
          flag-name: ruby-${{ matrix.ruby-version }}_rails-${{ matrix.rails-version }}

  test_frameworks:
    name: Test different frameworks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        framework: ['hanami', 'sinatra']

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.framework }}.gemfile

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true

      - run: bundle exec rake

      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: './coverage/lcov.info'
          parallel: true
          flag-name: framework-${{ matrix.framework }}

  test_rack_handlers:
    name: Test different rack handlers
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rack-handler: ['puma', 'falcon', 'thin']

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.rack-handler }}.gemfile
      RACK_HANDLER: ${{ matrix.rack-handler }}

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true

      - run: bundle exec rake

      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: './coverage/lcov.info'
          parallel: true
          flag-name: handler-${{ matrix.rack-handler }}

  coveralls:
    name: Send coverage results to Coveralls
    needs: [test_rails_versions, test_frameworks, test_rack_handlers]
    runs-on: ubuntu-latest
    steps:
    - uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true

  test_different_os:
    name: Test different OS on latest stable ruby/rails
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-16.04', 'ubuntu-18.04', 'ubuntu-20.04', 'macos-10.15', 'macos-11.0', 'windows-2019']
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/rails_6.0.gemfile

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true

      - if: ${{ startsWith(matrix.os, 'macos-') }}
        run: sudo ifconfig lo0 alias 127.0.0.13

      - run: bundle exec rake

  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ojab/setup-ruby@master
        with:
          ruby-version: 2.7
          bundler-cache: true

      - run: bundle exec rubocop
